.des-style{
    font-family: "Zapf Humanist", serif;
    font-size: 30px;
    color: #333;
}
.des-two{
    padding: 125px 50px;

    font-family: "Suisse Regular",sans-serif;
}
.bg-desc{
    background-color: rgb(248, 242, 242);
    
}
.total-height{
    height: 700px;
    margin-bottom: 150px;
    
}
.images-style{
height: 700px;

}
.des-width{
    overflow: hidden;
}



