.footer-one{
    background-color: #333;
    color: #fffef2;
    font-family: "Suisse Medium", sans-serif;
     padding-top: 40px;
     padding-bottom: 40px;
}
.email-input{
    border-color: white;
    color: white;
    background-color:#333;
    margin-bottom: 14px;
    width: 100%;
    border-radius: 5px;
    height: 40px;
    font-size: 20px;
}
.a-style a{
text-decoration: none;
color: white;
 
}
.checkbox-style{

    background-color: black;
}
.footer{
    background-color:#333 ;
    color: white;
    padding-left: 110px;
    
}